<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script>
    const ROOM_ID = "<%= roomId %>"
</script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="script.js" defer></script>
<style>
    #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
    }

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
<body>
    <div id="video-grid"></div>
</body>
</html>